.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 480px;
    width: 100%;
    padding: 112px 64px;
    box-sizing: border-box;
    gap: var(--m-spacing);
    z-index: 0;
}


.content {
    max-width: 770px;
    display: flex;
    flex-direction: column;
    gap: var(--s-spacing);
}

.content h2 {
    color: var(--white);
}

.content p {
    color: var(--white);
}


@media (max-width: 600px) {

    .wrapper {
        padding: 112px 15px;
    }
}