.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    position: relative;
    gap: var(--m-spacing);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrows {
    display: flex;
    gap: 20px;
}

.slidesWrapper {
    overflow: hidden;
    width: 100%;
}

.slides {
    display: flex;
    transition: transform 0.3s ease-in-out;
    gap: 38px;
}

