:root {
  --main-bg: #F6F6F6;
  --white: #F6F6F6;
  --black: #0A0A0A;
  --blue: #003D73;
  --blue-dark: #002546;
  --text-color: #0A0A0A;
  --lila-dark: #281C41;
  --green-dark: #004543;

  --margin: 50px;
  --margin-mobile: 15px;

  --s-spacing: 10px;
  --m-spacing: 38px;
  --l-spacing: 56px;

  --nav-height: 65.39px;

}

@font-face {
  font-family: 'AuPassata';
  src: url('/naturhistoriskmuseum/assets/fonts/AUPassata_Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'AuPassata';
  src: url('/naturhistoriskmuseum/assets/fonts/AUPassata_Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@media (max-width: 600px) {
  :root {
    --nav-height: 65px;
    --margin: 15px;
  }
}